<div class="h-100 w-100 primary-background">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="mb-5">
      <%= image_tag("logo-inicio.svg", :alt => "logo") %>
    </div>

    <div class="text-center">
      <%= link_to "Ingresar", new_user_session_path, class: "btn-inicio" %>
    </div>
  </div>
</div>
