<div class="h-100 w-100" style="background-color: #BD3D34">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="container-fluid" align="center">
      <div class="row">
        <img src="app/assets/images/logo.svg" class="img-fluid" alt="Skynet Logo">
      </div>
      <div class="row">
        <h1 class="text-center text-white">SKYNET</h1>
      </div>
      <div class="row mt-3">
        <%= link_to "Ingresar", root_path, class:"btn bg-white"%>
      </div>
    </div>
  </div>
</div>
