<div class="container mt-4 mx-auto">
  <div style="width: 95%;">
    <%= render "/shared/messages" %>
  </div>
</div>

<h1>Batches</h1>

<div id="batches">
  <% @batches.each do |batch| %>
    <%= render batch %>
    <p>
      <%= link_to "Show this batch", batch %>
    </p>
  <% end %>
</div>

<%= link_to "New batch", new_batch_path %>
