<%= render "/shared/navbar" %>

<div>
  <div class="container mt-5">
    <%= image_tag("addBatchHeadline.svg", :alt => "newBatch-title", :width => "97%", :class => "mb-3") %>

    <%= render "form", batch: @batch %>

    <br>
  </div>
</div>
