<%= render "/shared/navbar" %>

<div>
  <div class="container mt-5">
    <%= image_tag("new-route-headline.svg", :alt => "new-route-title", :width => "97%", :class => "mb-3") %>

    <%= render "form", route: @route %>

    <br>
  </div>

</div>
