<table class="table table-hover ">
  <thead>
  <tr>
    <th class="text-center" scope="col">Operación</th>
    <th class="text-center" scope="col">Agregar operación</th>
  </tr>
  </thead>
  <tbody>
  <% @operations.each do |operation| %>
    <% if operation.route_id.nil? %>
      <%= render "/routes/operations_table/table_column", operation: operation %>
    <% end %>
  <% end %>
  </tbody>
</table>
