<%= render "/shared/navbar" %>

<div class="h-100 w-100 secondary-background">
  <div class="container mt-5">
    <p style="color: green"><%= notice %></p>

      <%# -- Titulo de productos y boton de agregar -- %>
      <div>
        <%=image_tag("details-product-headline.svg", :alt => "details-products-title", :width => "95%",  :class => "mb-3") %>
      </div>
      <%# ------------- %>

      <%= render @product %>
  </div>
</div>